<mat-toolbar class="p-0 d-flex justify-content-between align-items-center">
    <mat-nav-list class="d-flex gap-3 align-items-center">
        <mat-list-item class="w-auto h-auto p-0">
            <a>Explore</a>
        </mat-list-item>
        <mat-list-item class="w-auto h-auto p-0">
            <a>Job board</a>
        </mat-list-item>
        <mat-list-item class="w-auto h-auto p-0">
            <a>About</a>
        </mat-list-item>
    </mat-nav-list>

    <a mat-flat-button class="rounded-pill" routerLink="/auth">Log in or sign up</a>
</mat-toolbar>
